.row.dashboard-cards
  .card.col-md-4
    .card-title
      %h2
        Contact Task
        %small You have 14 pending tasks
      .task-count
        14
    .card-flap.flap1
      .card-description
        %ul.task-list
          %li 
            Sent Question Pending 
            %span 59%
          %li 
            Sent Answer Pending
            %span 11%
          %li 
            File Attchment Pending
            %span 100%
          %li 
            Document Send Pending
            %span 7%
      .card-flap.flap2
        .card-actions
          %a.btn{:href => "#"} Close

  .card.col-md-4
    .card-title
      %h2
        Product Task
        %small You have 101 pending tasks
      .task-count
        101
    .card-flap.flap1
      .card-description
        %ul.task-list
          %li 
            Sent Question Pending 
            %span 59%
          %li 
            Sent Answer Pending
            %span 11%
          %li 
            File Attchment Pending
            %span 100%
          %li 
            Document Send Pending
            %span 7%
      .card-flap.flap2
        .card-actions
          %a.btn{:href => "#"} Close

  .card.col-md-4
    .card-title
      %h2
        Document Task
        %small You have 9 pending tasks
      .task-count
        9
    .card-flap.flap1
      .card-description
        %ul.task-list
          %li 
            Sent Question Pending 
            %span 59%
          %li 
            Sent Answer Pending
            %span 11%
          %li 
            File Attchment Pending
            %span 100%
          %li 
            Document Send Pending
            %span 7%
      .card-flap.flap2
        .card-actions
          %a.btn{:href => "#"} Close

  .card.col-md-4
    .card-title
      %h2
        Contact Task
        %small You have 76 pending tasks
      .task-count
        76
    .card-flap.flap1
      .card-description
        %ul.task-list
          %li 
            Sent Question Pending 
            %span 59%
          %li 
            Sent Answer Pending
            %span 11%
          %li 
            File Attchment Pending
            %span 100%
          %li 
            Document Send Pending
            %span 7%
      .card-flap.flap2
        .card-actions
          %a.btn{:href => "#"} Close

  .card.col-md-4
    .card-title
      %h2
        Agreement Task
        %small You have 43 pending tasks
      .task-count
        43
    .card-flap.flap1
      .card-description
        %ul.task-list
          %li 
            Sent Question Pending 
            %span 59%
          %li 
            Sent Answer Pending
            %span 11%
          %li 
            File Attchment Pending
            %span 100%
          %li 
            Document Send Pending
            %span 7%
      .card-flap.flap2
        .card-actions
          %a.btn{:href => "#"} Close

  .card.col-md-4
    .card-title
      %h2
        Audit Task
        %small You have 24 pending tasks
      .task-count
        24
    .card-flap.flap1
      .card-description
        %ul.task-list
          %li 
            Sent Question Pending 
            %span 59%
          %li 
            Sent Answer Pending
            %span 11%
          %li 
            File Attchment Pending
            %span 100%
          %li 
            Document Send Pending
            %span 7%
      .card-flap.flap2
        .card-actions
          %a.btn{:href => "#"} Close


